*.eps
*/__pycache__/*
release/assignment1/__pycache__/*
*.pyc
*.drawio

Miniconda3-py37_4.10.3-Linux-x86_64.sh
source/assignment1/comparison.png
release/assignment1/.ipynb_checkpoints/*
autograded/
feedback/
gradebook.db
grades.csv
miniconda3/
release/
source/.idea/
source/assignment1/.ipynb_checkpoints/
submitted/

sys
re

.~lock.grades.csv#

**/miniforge3/
**/__pycache__/
